<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>

  <body>
    <h1>About</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde eaque
      eligendi optio sit, veniam molestiae debitis reprehenderit animi fuga
      vitae. Dolores voluptate quasi ratione, esse quibusdam repudiandae at
      corporis iusto.
    </p>
  </body>
</html>
